/* @theme mytheme */

@import 'gaia';

section {
  padding: 0px 50px 10px 50px;
  background-color: white;
  /*position: absolute;*/
}

div {
  background: blue;
}

h1 {
    color: black;
    font-family: "Arial", "Hiragino Kaku Gothic ProN";
    font-size: 35px;
    /*position: absolute;*/
    /*left: 50px; */
    padding-top: 50px;
}


h2 {
    color: midnightblue;
    font-family: "Arial", "Hiragino Kaku Gothic ProN";
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: top;
}

h3 {
    color: gray;
    font-family: "Arial", "Hiragino Kaku Gothic ProN";
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    padding-bottom: 0px;
    text-align: top;
}

p {
    font-size: 18px;
    position: left;
    padding-top: 0px;
    margin-top: 0px;
}

ul, ol {
    font-size: 18px;
}
